.cabezera {text-align:center;} 
.fondo1 {background: url(fondo_azul.jpg) no-repeat center center fixed; background-size: cover; 
color: black  ; font-family:Arial Rounded MT Bold; font-size: 20px; padding: 20px; margin-left: 20px}



